body{margin: 0;
padding: 0;}

.container {
height: 100vh;
background-color: darkgrey;
text-align: center;}

form.box{
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}