@charset "utf-8";
/* CSS Document */


/*초기화*/
* {margin: 0; padding: 0;}
img {border: 0;}
li {list-style: none;}
a {text-decoration: none; color: #181818;}
body {font-family: '나눔바른고딕', serif;}


/*page1*/
#page1 {
	width: 100%; height: 794px;
}
.container {
	width: 100%; height: 794px;
	background-image: url(../img/main.jpg);
}