
@import url(https://cdn.rawgit.com/openhiun/hangul/14c0f6faa2941116bb53001d6a7dcd5e82300c3f/nanumbarungothic.css);
@import url(https://fonts.googleapis.com/css?family=Vollkorn|Roboto);
@font-face {
	font-family: 'arrows';
	src:url('../fonts/arrows/arrows.eot');
	src:url('../fonts/arrows/arrows.eot?#iefix') format('embedded-opentype'),
		url('../fonts/arrows/arrows.woff') format('woff'),
		url('../fonts/arrows/arrows.ttf') format('truetype'),
		url('../fonts/arrows/arrows.svg#arrows') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: 'Nanum Myeongjo';
	src:url('../fonts/NanumMyeongjo.ttf'),
		url('../fonts/NanumMyeongjo.woff'),
		url('../fonts/NanumMyeongjo.eot')

}


.bb-custom-wrapper {
	width: 100%;
	height: 100%;
	position: relative;
}

.bb-custom-wrapper .bb-bookblock {
	width: 100%;
	height: 100%;
	-webkit-perspective: 2000px;
	perspective: 2000px;
}

.bb-custom-side {
	width: 50%;
	float: left;
	height: 100%;
	overflow: hidden;
	background: #fff;
	/* Centering with flexbox */
	display: -webkit-box;
	display: -moz-box;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: center;
	-moz-box-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-moz-box-align: center;
	-webkit-align-items: center;
	align-items: center;
}

/*firstpage*/
.bb-custom-firstpage1 {
	width: 50%;
	float: left;
	height: 100%;
	background: url(../img/main_01.jpg) no-repeat;
	background-size:100%;
	position: relative;
}
.bb-custom-firstpage1 .first_text{
	font-size: 18px;
	position: absolute;
	top:580px; left: 30%;
	font-family: 'Nanum Barun Gothic', sans-serif;
	line-height: 2em; 
	font-weight: 100;
	color:#fff;
}
.bb-custom-firstpage1 .name1{
	width: 50px;
	height: 30px;
	position: absolute;
	top:50%; right: 0; 
	transform: rotate(-90deg);
}
.bb-custom-firstpage1 .name1 p{
	font-size:16px;
	color:#fff; 
	opacity: 0.7;
	font-family: 'Nanum Myeongjo';
}

/*firstpage2*/
.firstpage2{
	width: 50%;
	float: left;
	height: 100%;
	background: url(../img/main_02.jpg) no-repeat;
	background-size:100%;
	position: relative;
}
.firstpage2 .name2{
	width: 50px;
	height: 30px; 
	transform: rotate(90deg);
	position: absolute;
	top:51.7%; left: 0;
}
.firstpage2 .name2 p{
	font-size:16px;
	color:#fff; 
	opacity: 0.7;
	font-family: 'Nanum Myeongjo';
}

/*secondpage1*/
.secondpage1 {
	width: 50%;
	float: left;
	height: 100%;
	background: url(../img/about_02.jpg);
	background-size:100%;
}

/*secondpage2*/
.secondpage2{
	width: 50%;
	float: left;
	height: 100%;
	background: url(../img/about_03.jpg);
	background-size:100%;
}
.secondpage2 .about{
	width: 320px;
	height: 350px;
}
.secondpage2 .about h3{
	font-size: 30px;
	margin-bottom: 20px;
	margin-left:100px;
	font-family: 'Times New Roman';
	color:#fff;
	margin-top: 22px;
}
.secondpage2 .about p{
	font-size:18px; 
	color:#fff;
	line-height: 40px;
	margin-left: 10px;
}
.secondpage2 .about span{
	opacity:1;
	opacity: 0.7;
}

/*thirdpage*/
.thirdpage1{
	width: 50%;
	float:left;
	height: 100%;
	background-color: #000;
	position: relative;
}
.thirdpage1 .title{
	width: 162px;
	height: 158px;
	font-size: 50px;
	text-align: center;
	color:#fff;
	position: absolute;
	top:70px; left:50%;
	transform: translateX(-50%);
	line-height: 50px;
}
.thirdpage1 .design_nav{
	width:585px;
	height:383px;
	background:url(../img/design_01.jpg) no-repeat;
	background-size:100%;
	margin-top: 120px;
	margin-left: 0;
}
.design_nav ul{
	margin-left:250px;
	margin-top: 70px;
}
.design_nav ul li{
}
.design_nav ul li a{
	color:#000;
	font-size: 24px;
	font-family: 'Times New Roman';
	line-height: 48px;
}
.design_nav ul li a:hover{
	color:#555;
}

/*thirdpage2*/
.thirdpage2{
	width: 50%;
	float:left;
	height: 100%;
	background-color: #000;
}
.thirdpage2 .thirdpage2_1{
	width: 100%;
	height: 50%;
}
.thirdpage2 .thirdpage2_2{
	width: 100%;
	height: 50%;
	position: relative;
}
.thirdpage2 .thirdpage2_1 .content1{
	width: 280px;
	height: 394px;
	background:url(../img/design_02.jpg) no-repeat;
	float: left;
}
.thirdpage2 .thirdpage2_1 .section1{
	width: 176px;
	height: 394px;
	float: right;
	margin-right: 60px;
}
.thirdpage2 .thirdpage2_1 .content2{
	width: 176px;
	height: 125px;
	float: right;
	margin-top:80px;
}
.thirdpage2 .thirdpage2_1 .content2 h3{
	color:#fff;
	font-size: 18px;
	margin-bottom: 5px;
	opacity: 0.7;
	font-family: 'Nanum Myeongjo';
}
.thirdpage2 .thirdpage2_1 .content2 p{
	color:#fff;
	font-size: 16px;
	opacity: 0.7;
	font-family: 'Nanum Myeongjo';
	line-height: 22px;
}
.thirdpage2 .thirdpage2_1 .content3{
	width: 176px;
	height: 123px;
	float: right;
	margin-top: 40px; 
}
.thirdpage2 .thirdpage2_1 .content3 h3{
	color:#fff;
	font-size: 18px;
	margin-bottom: 5px;
	opacity: 0.7;
	font-family: 'Nanum Myeongjo';
}
.thirdpage2 .thirdpage2_1 .content3 p{
	color:#fff;
	font-size: 16px;
	opacity: 0.7;
	font-family: 'Nanum Myeongjo';
	line-height: 22px;
}

/*thirdpage2_2*/
.thirdpage2_2 .content4{
	width: 160px;
	height: 270px;
	float: left;
	margin-top: 50px;
	margin-left: 73px;
}
.thirdpage2 .thirdpage2_2 .content4 h3{
	color:#fff;
	font-size: 18px;
	margin-bottom: 5px;
	opacity: 0.7;
	font-family: 'Nanum Myeongjo';
}
.thirdpage2 .thirdpage2_2 .content4 p{
	color:#fff;
	font-size: 16px;
	opacity: 0.7;
	font-family: 'Nanum Myeongjo';
	line-height: 21px;
}
.thirdpage2_2 .content5{
	width: 237px;
	height: 332px;
	background:url(../img/design_03.jpg) no-repeat;
	float:left;
	position: absolute;
	top:50px; right: 173px;
}
.thirdpage2_2 .content6{
	width: 127px;
	height: 168px;
	background:url(../img/design_04.jpg) no-repeat;
	float:right;
	margin-right: 107px;
}

/*fourthpage1*/
.fourthpage1{
	width: 50%;
	float:left;
	height: 100%;
	background-color: #000;
	position: relative;
}
.fourthpage1 .title{
	width: 162px;
	height: 158px;
	font-size: 50px;
	color:#fff;
	position: absolute;
	top:70px; left:50%;
	transform: translateX(-50%);
	line-height: 50px;
	text-align: center;
}
.fourthpage1 .title .title3{
	margin-left: -33px;
}

.fourthpage1 .Publish_nav{
	width:585px;
	height:383px;
	background:url(../img/publish_01.jpg) no-repeat;
	background-size:100%;
	margin-top: 120px;
	margin-left: 0;
}
.Publish_nav ul{
	margin-left:250px;
	margin-top: 123px;
}
.Publish_nav ul li{
}
.Publish_nav ul li a{
	color:#000;
	font-size: 24px;
	font-family: 'Times New Roman';
	line-height: 48px;
}
.Publish_nav ul li a:hover{
	color:#555;
}
/*fourthpage2_layout*/
.fourthpage2{
	width: 50%;
	float:left;
	height: 100%;
	background-color: #000;
}
.fourthpage2 .section1{
	width: 100%;
	height: 50%;
}
.fourthpage2 .section2{
	width: 100%;
	height: 50%;
}
/*fourthpage2*/
.fourthpage2 .section1 .content7{
	width:237px;
	height: 332px;
	background:url(../img/publish_02.jpg) no-repeat; 
	background-size:100%;
	float: left;
}
.fourthpage2 .section1 .content8{
	width:237px;
	height: 230px; 
	float: right;
	margin-right: 170px;
	margin-top:117px;
}
.fourthpage2 .section1 .content8 h3{
	color:#fff;
	font-size: 18px;
	margin-bottom: 5px;
	opacity: 0.7;
}
.fourthpage2 .section1 .content8 p{
	color:#fff;
	font-size: 16px;
	opacity: 0.7;
	line-height: 21px;
	font-family: 'Nanum Myeongjo';
}
.fourthpage2 .section2 .content9{
	width: 240px;
	height: 355px;
	float:left;
}
.fourthpage2 .section2 .content10{
	width: 301px;
	height: 382px;
	background:url(../img/publish_03_1.jpg) no-repeat;
	float:right;
	margin-right: 107px;
}
.fourthpage2 .section2 .content9 h3{
	color:#fff;
	font-size: 18px;
	margin-bottom:5px;
	opacity: 0.7;
}
.fourthpage2 .section2 .content9 p{
	color:#fff;
	font-size: 16px;
	opacity: 0.7;
	line-height: 21px;
	font-family:'Nanum Myeongjo';
}
/*fifthpage1*/
.fifthpage1 {
	width: 50%;
	float: left;
	height: 100%;
	background: url(../img/contact_03.jpg);
	background-size:100%;
}

/*fifthpage2*/
.fifthpage2{
	width: 50%;
	float: left;
	height: 100%;
	background: url(../img/contact_02.jpg);
	background-size:100%;
}
.fifthpage2 .contact{
	width:250px;
	height: 120px;
}

.fifthpage2 .contact h3{
	font-size:30px; 
	font-family: 'Times New Roman';
	margin-bottom: 20px;
	color:#fff;
}
.fifthpage2 .contact p{
	font-size:18px; 
	color:#fff;
	line-height: 32px;
}

/*custom-wrapper*/
.bb-custom-wrapper > nav {
	width: 100%;
	height: 40px;
	margin: 1em auto 0;
	position: fixed;
	bottom: 20px;
	z-index: 1000;
	text-align: center;
}


.bb-custom-wrapper > nav a {
	display: inline-block;
	width: 40px;
	height: 40px;
	text-align: center;
	border-radius: 2px;
	color: #fff;
	font-size: 0;
	margin: 2px;
}

.bb-custom-wrapper > nav a:hover {
	opacity: 0.6;
}

.bb-custom-icon:before {
	font-family: 'arrows';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	font-size: 20px;
	line-height: 40px;
	display: block;
	-webkit-font-smoothing: antialiased;
}

.bb-custom-icon-first:before,
.bb-custom-icon-last:before {
	content: "\e002";
}

.bb-custom-icon-arrow-left:before,
.bb-custom-icon-arrow-right:before {
	content: "\e003";
}

.bb-custom-icon-arrow-left:before,
.bb-custom-icon-first:before {
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}

/* No JS */
.no-js .bb-custom-wrapper {
	height: auto;
}

.no-js .bb-custom-content {
	height: 470px;
}


