/*header*/
#artwork_bg {
    width: 100%; height: auto;
}

.nav {
    position: relative;
    top: 0; left: 0;
    z-index: 2;
    margin-right: 67px;
    height: 100px;
/*
    position: absolute;
    top: 40px; right: 80px;
    z-index: 100;
*/
}
.gnb { float: right; padding-top: 40px;}
.gnb>li {float: left;}
.gnb>li>a {
    color: #666;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    padding: 7px 0;
    margin: 0 25px;
    display: block;
}
.gnb>li>a:hover {
    border-bottom: 2px solid #666;}

.dropdown {display: none;}
.dropdown li {}
.dropdown li a {
    display: block;
    width: 100px; height: 50px;
    text-align: center;
    line-height: 65px;
    color: #666;
    font-family: 'Roboto', sans-serif;
    transition: ease-in-out 0.3s;
    background-color: white; 
}
.dropdown li a:hover {color:#ff0558;}

.nav>.gnb>li:hover .dropdown{display: block;}

.underbar>a {border-bottom: 2px solid #666;}

/*contents*/
#contents {
    width: 1720px;
    margin: 0 auto;
    margin-top: 50px;
    position: relative;
    height: 5100px;
    z-index: 1;
}

.main_title {
    position: absolute;
    top: 0px;
    left: 0px;
}

.main_title h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    color: #464646;
    letter-spacing: 0.5px;
}

.main_txt {
    position: absolute;
    top: 110px;
    left: 0px;
}
.main_txt h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    color: #464646;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.5px;
}

.main_txt p {
    font-family: 'KoPub Dotum';
    color: #464646;
    letter-spacing: 0.5px;
    padding-bottom: 10px;
}

.main_txt .btn {
    width: 120px;
    height: 40px;
    background-color: #333;
    color: #fff;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    letter-spacing: 0.5px;
    border-radius: 5px;
    transition: ease-out 0.3s;
    cursor: pointer;
}

.main_txt .btn:hover {background-color: #fff; color: #333; }

.main_img img{
    position: absolute;
    top: 125px;
    left: 960px;}

.sub_txt {
    position: absolute;
    top: 460px;
    left: 0px;
}

.sub_txt h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #464646;
    line-height: 40px;
    letter-spacing: 0.5px;
}

.sub_txt p {
    font-family: 'KoPub Dotum';
    color: #464646;
    line-height: 20px;
    letter-spacing: 0.5px;
}
.line {
    width: 1500px;
    height: 1px;
    position: absolute;
    top: 17px;
    left: 220px;
    border-bottom: 2px solid #999999;
}
.txt_line {
    width: 20px;
    height: 1px;
    position: absolute;
    top: 110px;
    left: 0px;
    border-bottom: 3px solid #8cce36;
}

.center_line {
    width: 220px;
    height: 1px;
    position: absolute;
    top: 375px;
    left: 740px;
    border-bottom: 1px solid #fddf00;}

.center_circle {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background: #fddf00;
    position: absolute;
    top: 371px;
    left: 730px;
}

.line_02 {
    width: 1720px;
    height: 1px;
    position: absolute;
    top: 730px;
    left: 0;
    border-bottom: 2px solid #999999;
}

.detail_txt {
    position: absolute;
    top: 830px;
    left: 800px;}

.detail_txt h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    color: #464646;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.5px;
}
.detail_txt_02 {
    position: absolute;
    top: 930px;
    left: 380px;}
.detail_txt_02 span {
    font-family: 'KoPub Dotum';
    color: #464646;
    font-size: 20px;  
}
.detail_txt_03 {
    position: absolute;
    top: 930px;
    left: 1220px;}

.detail_txt_03 span {
    font-family: 'KoPub Dotum';
    color: #464646;
    font-size: 20px;
}


.detail_img {
    position: absolute;
    top: 970px;
    left: 0px;}
.detail_img img {
    float: left; 
    margin: 5px;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
}

/*arrow_icon*/
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.arrow_01 {
    position: absolute;
    top: 517px;
    left: 30px;
}

.arrow_02 {
    position: absolute;
    top: 517px;
    right: 20px;
}
.color {color: #626262;}
.arrow_01:hover .color {color: #ff0558;}
.arrow_02:hover .color {color: #ff0558;}


/*footer*/
#footer {
    clear: both;
    width: 100%;
    height: 150px;
    margin: 0 auto;
    background: #f7f7f7;
}

#footer p {
    text-align: center;
    font-family: 'KoPub Dotum';
    letter-spacing: 0.5px;
    color: #464646;
    line-height: 150px;
}

#top_icon { position: fixed; right: 20px; bottom: 30px;}
#top_icon a { font-size: 30px; font-weight: bold; }






