@charset "utf-8";
/* CSS Document */
a { color: #b0d4d9 ;}  
a:hover { color: #4687a1;} 
body {color: #b3b4bd;}
#wrap {	width: 1280px;margin: 0 auto;}
#header {width: 1280px;height: 130px;margin: 0 auto;padding-top:10px;}
#nav {width: 1180px;height: 130px;margin: 0 auto;}
#nav ul {float: left;}
#nav .home {float: left;}
#nav ul li { width: 116px;height: 100px;float: left; text-align: center;margin: 4px;position: relative;top: 15px;}
/*#nav ul li a {display: block;padding: 3px;}*/
#nav ul li a {display: inline-block;padding: 3px; font-family:Roboto; }
#nav ul li a span {position: absolute;}
#nav ul .work01 a span {top: 80px;left: 50%;transform: translateX(-50%);}
#nav ul .work02 a span {top: 35px;left: 50%;transform: translateX(-50%);}
#nav ul .work03 a span {top: 80px;left: 22px;}
#nav ul .work04 a span {top: 35px;left: 50%;transform: translateX(-50%);}
#nav ul .work05 a span {top: 80px;left: 10px;}
#nav ul .work06 a span {top: 80px;left: 50%;transform: translateX(-50%);}
#nav ul .work07 a span {top: 35px;left: 50%;transform: translateX(-50%);}
#nav ul .work08 a span {top: 80px;left: 50%;transform: translateX(-50%);}
#nav ul li a .circle {
	width: 20px;height: 20px;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: 50%;
	transition-duration: 0.5s;
}
#nav ul .work01 a .circle {	background-image: url(../img/icon/sub_work_menu_01.png);}
#nav ul .work02 a .circle {	background-image: url(../img/icon/sub_work_menu_02.png);}
#nav ul .work03 a .circle {	background-image: url(../img/icon/sub_work_menu_03.png);}
#nav ul .work04 a .circle {	background-image: url(../img/icon/sub_work_menu_04.png);}
#nav ul .work05 a .circle {	background-image: url(../img/icon/sub_work_menu_05.png);}
#nav ul .work06 a .circle {	background-image: url(../img/icon/sub_work_menu_06.png);}
#nav ul .work07 a .circle {	background-image: url(../img/icon/sub_work_menu_07.png);}
#nav ul .work08 a .circle {	background-image: url(../img/icon/sub_work_menu_08.png);}
#nav ul li a:hover .circle{	transform: scale(2);}
#nav ul .work01 a .circle,#nav ul .work03 a .circle,#nav ul .work05 a .circle,#nav ul .work06 a .circle,#nav ul .work08 a .circle {
	position: relative;	top: 44px; }
/*--------------------
contents section start
--------------------*/

#container {width: 100%;margin: 0 auto;	margin-bottom: 100px;}
#container .title_box {
	width: 300px;height: 150px;margin: 0 auto;text-align: center;
	position: relative;margin-bottom: 30px;}
#container .title_box .work_title {
	display: inline-block;
	font-size: 20pt;font-weight: bold;
	color: #4687a1;
	position: relative;top: 80px;z-index: 5;
}
#container .title_box .title_figure_small {
	width: 18px; height: 18px; border-radius: 9px;
	background-color: #b0d4d9;
	position: absolute;top: 65px; left: 26px;z-index: 2;
}
#container .title_box .title_figure_big {
	width: 111px; height: 111px; border-radius: 22px;
	border: 1px solid #b0d4d9;
	position: absolute; top: 26px; left: 34px;transform: rotate(17deg);z-index: 1;
}
#container .sub_title_box {
	width: 460px;margin: 0px auto;text-align: center;margin-bottom: 30px;
}
#container .sub_title_box .sub_title {
	font-size: 1.3em;font-weight: 600;color: #4687a1;
	position: relative;	z-index: 5;
}
#container .sub_title02 {
	font-size: 1.12em;color: #4687a1;
	position: relative;z-index: 5;
}
#container .description_box {
	width: 460px;
	text-align: center;
	margin: 0px auto;
	margin-bottom: 45px;
}
/*--------------------
contents_box section each css
--------------------*/
#container .contents_box {
	margin:0px auto;
	margin-bottom: 100px;
}
a#move_top {
	width: 40px;
    position: fixed;right: 2.5%;bottom: 30px;
    display: none;z-index: 89;
}
a#move_top > img { width: 100%;}
.siteicon {
	display: inline-block;
	width: 22px;height: 22px;
	background-image: url(../img/icon/web-site-house.png);
	background-repeat: no-repeat;
	background-size: 100%;
	position: relative;top: 3px;
}